stages:
  - debug
  - deploy

debug_vars:
  stage: debug
  image: mcr.microsoft.com/powershell:latest
  script:
    - pwsh -File scripts/debug_vars.ps1

deploy_to_windows:
  stage: deploy
  image: mcr.microsoft.com/powershell:latest
  script:
    - pwsh -File scripts/deploy_to_windows.ps1
  only:
    - main
