stages:
  - build

build-image:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - echo "{\"auths\":{\"registry.gitlab.com\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor
      --context $CI_PROJECT_DIR
      --dockerfile $CI_PROJECT_DIR/Dockerfile
      --destination registry.gitlab.com/youruser/yourproject/crd-desktop:latest
      --build-arg CRD_USERNAME="$CRD_USERNAME"
      --build-arg CRD_PASSWORD="$CRD_PASSWORD"
      --build-arg CRD_PIN="$CRD_PIN"
      --build-arg CRD_SSH_CODE="$CRD_SSH_CODE"
