stages:
  - build

build_litemanager:
  stage: build
  tags:
    - windows   # Make sure your runner has this tag
  script:
    - echo "Cloning LiteManager repository..."
    - git clone https://github.com/RavikantAsoliya/LiteManager.git
    - cd LiteManager
    - echo "Restoring NuGet packages via MSBuild..."
    - msbuild LiteManager.sln /t:Restore
    - echo "Building LiteManager..."
    - msbuild LiteManager.sln /p:Configuration=Release /p:Platform="Any CPU"
  artifacts:
    paths:
      - LiteManager/bin/Release/
    expire_in: 7 days
