stages:
  - env
  - debug
  - remote

list_env:
  stage: env
  image: mcr.microsoft.com/powershell:latest
  script:
    - |
      cat >/tmp/list_env.ps1 <<'PS1'
      Write-Host "--- Listing all environment variables ---"
      Get-ChildItem Env: | Sort-Object Name | ForEach-Object {
        Write-Host "$($_.Name) = $($_.Value)"
      }
      Write-Host "--- End of environment variable list ---"
      PS1
    - pwsh -NoLogo -NonInteractive -File /tmp/list_env.ps1

debug_vars:
  stage: debug
  image: mcr.microsoft.com/powershell:latest
  script:
    - |
      cat >/tmp/debug_vars.ps1 <<'PS1'
      function Test-Var($name) {
        $val = (Get-Item -Path Env:$name -ErrorAction SilentlyContinue).Value
        if ([string]::IsNullOrEmpty($val)) {
          Write-Host "$name is EMPTY"
        }
        else {
          Write-Host "$name length: $($val.Length)"
          Write-Host "$name first char: $($val[0])"
        }
      }

      Write-Host "--- Checking GitLab variables ---"
      Test-Var "WINDOWS_USER"
      Test-Var "WINDOWS_HOST"
      Test-Var "WINDOWS_PASS"
      PS1
    - pwsh -NoLogo -NonInteractive -File /tmp/debug_vars.ps1

connect_windows:
  stage: remote
  image: mcr.microsoft.com/powershell:latest
  script:
    - |
      cat >/tmp/connect_windows.ps1 <<'PS1'
      $ErrorActionPreference = 'Stop'
      Set-StrictMode -Version Latest

      foreach ($k in 'WINDOWS_USER','WINDOWS_PASS','WINDOWS_HOST') {
        if ([string]::IsNullOrEmpty(${env:$k})) {
          Write-Error "Missing required variable: $k"
          exit 1
        }
      }

      Write-Host "--- Starting remote Windows connection ---"
      $secpass = ConvertTo-SecureString ${env:WINDOWS_PASS} -AsPlainText -Force
      $cred    = New-Object System.Management.Automation.PSCredential (${env:WINDOWS_USER}, $secpass)

      Invoke-Command -ComputerName ${env:WINDOWS_HOST} -Credential $cred -ScriptBlock {
        Write-Host ("Connected to " + $env:COMPUTERNAME)
        whoami
      }
      PS1
    - pwsh -NoLogo -NonInteractive -File /tmp/connect_windows.ps1
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
