stages:
  - setup
  - configure

setup_wine:
  stage: setup
  image: ubuntu:22.04
  script:
    - "dpkg --add-architecture i386"
    - "apt-get update -y"
    - "apt-get install -y --no-install-recommends wine32 wine64 winbind xvfb cabextract unzip wget openssl"
    - "wine --version"
    - "xvfb-run wineboot --init"
  artifacts:
    paths:
      - /usr/bin/wine
      - /usr/lib
      - /root/.wine

configure_litemanager:
  stage: configure
  image: ubuntu:22.04
  dependencies:
    - setup_wine
  script:
    - "xvfb-run wine --version"
    - "wget -O ROMServer.exe https://litemanager.com/soft/ROMServer.exe"
    - "xvfb-run wine ROMServer.exe /silent"
