stages:
  - build

build_litemanager:
  stage: build
  tags:
    - windows
  script:
    - git clone https://github.com/RavikantAsoliya/LiteManager.git
    - cd LiteManager
    - nuget restore LiteManager.sln
    - msbuild LiteManager.sln /p:Configuration=Release /p:Platform="Any CPU"
  artifacts:
    paths:
      - LiteManager/bin/Release/

