stages:
  - build

build_litemanager:
  stage: build
  tags:
    - windows
  image: mcr.microsoft.com/dotnet/framework/sdk:4.8-windowsservercore-ltsc2019
  variables:
    GIT_STRATEGY: clone
  before_script:
    - echo "Restoring NuGet packages..."
  script:
    - git clone https://github.com/RavikantAsoliya/LiteManager.git
    - cd LiteManager
    - nuget restore LiteManager.sln
    - msbuild LiteManager.sln /p:Configuration=Release /p:Platform="Any CPU"
  artifacts:
    paths:
      - LiteManager/bin/Release/
